.mainContainerCreation {
  
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-image: url('../../images/puppy-snout.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    box-shadow: 6px 7px 8px -6px rgba(182, 185, 182, 0.911);
    border-radius: 15px;
    color: rgba(228, 223, 223, 0.664);
    box-shadow: 2px 3px 2px 1px rgba(30, 119, 122, 0.562);
  }
  .titleDogui{
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: rgba(250, 249, 249, 0.74);
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.767);
    border: 1px solid #fff;
    border-radius: 30px;
    box-shadow: 2px 3px 2px 1px rgba(30, 119, 122, 0.562);
  }
  .formContainer {
    width: 100%;
    min-width: 700px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
  }
  form{
      width: 650px;
      background-color: rgba(177, 177, 177, 0.527);
      border-radius: 15px;
  }
  .button {
    cursor: pointer;
    line-height: 2.5;
    width: 75px;
  }
  .button:hover{
    background-color: rgba(11, 75, 8, 0.582);
    transform: scale(1.02,1.02);
  }
  .buttonCancel {
    cursor: pointer;
    line-height: 2.5;
    width: 75px;
    background-color: rgb(128, 22, 22);
    color: white;
  }
  .buttonCancel:hover{
    background-color: rgb(216, 78, 35);
    transform: scale(1.02,1.02);
  }
  
  .Section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    margin: 8px;
    padding: 8px;
    border: 1px solid white;
    border-radius: 15px;
    gap: 5px;
    box-shadow: 6px 7px 8px -6px rgba(69, 69, 69, 0.7);
  }
  
  .sidebar_box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  .sidebar_box > h4 {
    width: 100%;
  }
  .selectedItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    background-color: rgba(255, 255, 255, 0.555);
    border-radius: 15px;
    gap: 5px;
    margin: 5px 8px;
    padding: 1px 8px;
  }
  .selectedItems > button {
      background-color:rgba(255, 0, 0, 0.26);
      width: 25px;
  }
  label {
    
    width: 50%;
  }
  input {
    align-items: center;
    border-radius: 5px;
    background-color: rgba(34, 116, 23, 0.719);
    border: 1px solid rgb(163, 207, 118);
    width:100%;
    line-height: 1.8;
  }
  input::placeholder {
    color: rgb(163, 207, 118);
  }
  .error {
    font-size: 10px;
    color: red;
  }
  .buttonSection {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  option {
    line-height: 2;
  }
  .styled_select {
    width: 240px;
    height: 34px;
    overflow: hidden;
    border: 1px solid #ccc;
  }
  