.bodyDetail {
    width: 75%;
    height: 95%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10%;

  }
  
  .mainCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(34, 128, 123, 0.322);
    box-shadow: 6px 7px 8px -6px rgba(65, 143, 13, 0.7);
    border-radius: 15px;
    color: white;
  }
  
  .mainTitle {
    text-align: center;
    margin: 10px;
    font-size: 45px;
  }
  
  .image {
    border-radius: 15px;
    height: 350px;
    border: 3px white solid;
    box-shadow: 6px 7px 8px -6px rgba(255, 245, 245, 0.7);
  }
  
  .detailsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(27, 30, 194, 0.192);
    padding: 8px;
    border-radius: 15px;
    max-width: 80%;
    min-height: 25%;
    margin: 10px;
  }
  
  .breed_group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 50%;
  }
  
  .temperament {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    gap: 15px;
    border-top: 1px solid white;
  }
  
  .life_span {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 50%;
  }
  
  .weights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
  
  .heights {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
  }
 
  
  .button {
    background-color: rgba(19, 83, 167, 0.76);
    color: white;
    cursor: pointer;
    line-height: 2.1;
    width: 75px;
    font-size: 18px;
  }
  
  .imageSection {
    padding: 5px;
    margin: 15px;
  }
  
  .infoSection {
    padding: 5px;
    margin: 5px;
    border-top: 1px solid white;
  }
  