.mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
 margin-top: 0.2em;
  background-size: cover;
  background-color: rgba(235, 209, 177, 0.74);
}
.dogs{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;
    background-size: cover;

}
.sideBar{
width: 20%;
    border-radius: 10px;
}