.mainContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 100%;
margin-top: 0.2em;
 
  background-image: url('../../images/dogs.jpg');
  background-size: cover;
}
.nav{
    background-color: #1a1a1a;
    height: 100px;
    width: 100%;
    display: flex;
    padding: 0 5px;
 
}
.dogs{
    display: flex;
    flex-direction: column;
    width: 80%;
    border-radius: 10px;

}
.sideBar{
width: 20%;
    border-radius: 10px;
}