.dogCard {
    margin: 8px 3px 8px 3px;
      padding: 3px;
      width: 280px;
      height: 300px;
      border-radius: 12px;
      box-shadow: 6px 7px 8px -6px rgba(69,69,69,0.7);
      position: relative;
      background-color:rgba(137, 136, 139, 0.473);
   
    }
    .dogCard:hover{
      transform: scale(1.05,1.05);
      box-shadow: 6px 7px 6px 3px rgba(30, 119, 122, 0.685);
    }
  
    .dogName{
      margin-top: -2px;
      text-align: center;
   
    }
    .titleArea {
      font-size: 16px;
      position: absolute;
      min-height: 40px;
    }
    
    a {
      color: #292929;
      text-decoration: none;
    }
    
    .infoArea {
      font-size: 14px;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      margin: 2px;
      margin-bottom: 2px;
      min-height: 40px;
      color: #292929;
    }
    
    .tempArea {
      max-width: 100%;
      color:#292929;
    }
    
    .dogTemp {
      color: rgb(15, 14, 14);
      text-align: center;
    }
    
    .imageArea {
      display: flex;
      justify-content: center;
      margin: 40px 1px 0 3px;
      max-width: 100%;
      max-height: 100%;
      overflow: hidden;
      border-radius: 4%;
    }
    
    .dogImage {
    
      border-radius: 4%;
      width: 100%;
    }