.searchBarObject {
    margin: 15px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }
  
  .inputSearch{
    border-radius: 15px;
    margin: 5px;
    padding: 2px;
    line-height: 2.05;
    font-size: 20px;
    border: 1px solid #fff;
    color: #fff;
    background-color: #6460606c;
    box-shadow: 2px 3px 2px 1px rgba(30, 119, 122, 0.562);
  }
  
  button{
    margin: 5px;
    padding: 5px;
    border-radius: 15px;

      box-shadow: 2px 3px 2px 1px rgba(30, 119, 122, 0.562);
  }